<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendence App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1 class="logo">Logo</h1>
    <form action="/register" method="post">
      <input class="inputField" type="text" name="email" placeholder="Email">
      <input class="inputField" type="text" name="username" placeholder="Admin name">
      <input class="inputField" type="password" name="password" placeholder="password">
      <button class="button" type="submit">Register</button>
      <a href="/">Want to Login?</a>
    </form>
  </div>
  
</body>
</html>
